* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.5s;
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

:root {
    --rosa-claro: #FFEDF1;
    --rosa-médio: #FFDBE4;
    --rosa-médio-escuro: #FFC9D6;
    --rosa-escuro: #FFB7C9;
    --branco: white;
    --preto: black;
    --bege-claro: #F4F2EE;
    --bege-médio: #EEECE1;
    --bege-escuro: #F2EFE5;
}

/* Fundo com leve transparência */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/casal.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5; /* controla a transparência do fundo */
  z-index: -1; /* fica atrás de tudo */
}

.modal {
  background: rgba(255, 255, 255, 0.98);
  border-radius: 10px;
  width: 700px;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  margin-top: -30px;
}

.bot-fechar {
    font-size: 20px;
    text-decoration: none;
    color: black;
    position: absolute;
    margin-left: -20px;
    margin-top: -50px;
}

.titulo {
    font-family: "Ledger", serif;
    font-weight: 400;
    font-size: 28px;
    color: var(--preto);
    padding-top: 20px;
    text-align: center;
    margin-left: -55px;
}

.botao-salvar {
    width: 60%;
    height: 50px;
    border: 1px solid var(--preto);
    border-radius: 10px;
    background-color: var(--rosa-médio-escuro);
    color: var(--branco);
    font-size: 16px;
    cursor: pointer;
    font-family: "Ledger", serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}

.sec-bot-salvar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fechar {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
}

/* input, textarea {
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

input:focus, textarea:focus {
  border-color: #f5a5b8;
  box-shadow: 0 0 4px #f5a5b8;
} */

input {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 10px;
    font-family: "Ledger", serif;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.text-descricao {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 10px;
    font-family: "Ledger", serif;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 15px;
}

button {
  background-color: #f5a5b8;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #f28aa1;
}

/* Centraliza o bolo verticalmente */
.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.imagem img {
  width: 280px;
  height: auto;
  margin-top: -100px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

}

@media (max-width: 426px) {
    .titulo {
        font-family: "Ledger", serif;
        font-weight: 400;
        font-size: 28px;
        color: var(--preto);
        padding-top: 20px;
        text-align: center;
        margin-left: -85px;
    }
    .logo {
      width: 100px;
      margin-top: -40px;
      margin-left: -20px;
    }
    .text-descricao {
        position: relative;
        padding: 15px;
    }
    .botao-salvar {
        margin-top: 5px;
        width: 80%;
    }
    .sec-bot-salvar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .conteudo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      justify-content: center;
    }
    .modal {
      background: rgba(255, 255, 255, 0.98);
      border-radius: 10px;
      width: 330px;
      padding: 30px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
    }
    .imagem {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .imagem img {
      width: 20px;
      height: auto;
      margin-top: -100px;
      display: none;
      position: relative;
    }
}

@media (max-width: 376px) {
    .modal {
      background: rgba(255, 255, 255, 0.98);
      border-radius: 10px;
      width: 300px;
      padding: 30px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
    }
}

@media (max-width: 321px) {
      .modal {
      background: rgba(255, 255, 255, 0.98);
      border-radius: 10px;
      width: 245px;
      padding: 30px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
    }
    input {
      font-size: 12px;
    }
    .text-descricao {
      font-size: 12px;
      padding: 15px;
    }
}