* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.5s;
}

:root {
    --rosa-claro: #FFEDF1;
    --rosa-médio: #FFDBE4;
    --rosa-médio-escuro: #FFC9D6;
    --rosa-escuro: #FFB7C9;
    --branco: white;
    --preto: black;
    --bege-claro: #F4F2EE;
    --bege-médio: #EEECE1;
    --bege-escuro: #F2EFE5;
}

.principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: url('../img/background2.png') no-repeat center center fixed;
}

.formulario {
    width: 600px;
    height: auto;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-color: var(--preto);
}

.titulo {
    font-family: "Ledger", serif;
    font-weight: 400;
    font-size: 28px;
    color: var(--preto);
    padding-top: 20px;
}

.logo-canto {
    width: 115px;
    position: absolute;
    margin-left: 480px;
    margin-top: -40px;
}


input {
    width: 60%;
    height: 40px;
    border: 1px solid var(--preto);
    border-radius: 3px;
    padding-left: 10px;
    font-size: 10px;
    font-family: "Ledger", serif;
}

.botao-login {
    width: 60%;
    height: 50px;
    border: 1px solid var(--preto);
    border-radius: 10px;
    background-color: var(--rosa-médio-escuro);
    color: var(--branco);
    font-size: 16px;
    cursor: pointer;
    font-family: "Ledger", serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}

.cadastro {
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
}


